        </div>
        <footer class="footer">
          <div class="container">
            <p class="text-muted">&copy; Gamers Blogs | <a href="/games">Home</a> | <a href="/games/new">New Post</a></p>
          </div>
        </footer>
       
    </body>
</html>